<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297265109633-q41gv672k6ssevg178ck6g59pbsch751.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297265109633-q41gv672k6ssevg178ck6g59pbsch751</string>
	<key>API_KEY</key>
	<string>AIzaSyBuUzFpCST8sYUoRPlJK3jhYp-c1d1sAMU</string>
	<key>GCM_SENDER_ID</key>
	<string>297265109633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iorran.bjj</string>
	<key>PROJECT_ID</key>
	<string>bjj-app-383101</string>
	<key>STORAGE_BUCKET</key>
	<string>bjj-app-383101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297265109633:ios:aa35acede727a5d114cb80</string>
</dict>
</plist>